#show_devs_containt_view{
	height: 250px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 5px;
	padding-right: 5px;
	padding-top:5px;
	margin-right: auto;
	margin-left: auto;
	overflow-y: scroll;
	transition: transform .3s ease-in-out,margin .3s ease-in-out;
	________margin-left: 230px;
	z-index: 820;
}

/* .content-wrapper{
	z-index: 840;
	margin-left: 30px;
} */

#show_devs_top_control{
	width: 100%;
	height: 200px;
	/*background-color: pink;*/
	background:transparent;
	overflow-y: scroll;
}
#classification{
	/*background-color: white; */
	background:transparent;
	width: 16%;
	height: 200px;
	padding: 10px;
	display: inline-block;
}

#show_devs_show_devs{
	width: 100%;
	height: 600px;
	margin-top:5px;
	margin-bottom:5px;
	/*background-color: grey; */
}

.noafter::after {
	display: none;
}

.search-item{
	margin-top: 10px;
}